<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>hire-rise</title>
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="css/plugin.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div class="h_mainWrapper ">
		<header id="h_headerWrapper" class="bg_black py-2">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-3 align-self-center">
						<a href="index.php" class="logoSize">
							<img src="images/logo-01.svg" alt="">
						</a>
					</div>
					<div class="col-md-8 col-9">
						<nav class="navbar navbar-expand-lg flex-md-column flex-row align-items-end">
							<!-- <div class="btnSet">
								<a href="tel:8291515523" class="h_btn h_btn_green">GIVE US A CALL</a>
								<a href="javascript:;" class="h_btn h_btn_green">REGISTER NOW!!!</a>
							</div> -->
							<div class="collpase-nav mt-2 ml-auto">
								<div class="burder-menu">
									<span></span>
									<span></span>
									<span></span>
								</div>
								<ul class="navbar-nav">
									<li class="nav-item"><a class="nav-link" href="index" title="HOME">HOME </a></li>
									<li class="nav-item"><a class="nav-link" href="about" title="ABOUT US">ABOUT US  </a></li>
									<li class="nav-item"><a class="nav-link" href="company#h_ContactFormSection" title="REQUIREMENT FORM">REQUIREMENT FORM  </a></li>
									<li class="nav-item"><a class="nav-link" href="company#h_testimonial" title="TESTIMONIALS">TESTIMONIALS</a></li>
									<li class="nav-item"><a class="nav-link" href="candidate" title="candidate">OPENING</a></li>
									<li class="nav-item"><a class="nav-link" href="contact" title="CONTACTS">CONTACTS</a></li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!--/.header -->
		<div class="h_bodyWrapper">
			<div id="h_heroSection">
				<div class="container">
					<div class="row">
						<div class="col-md-5 align-self-center ">
							<div class="h-heroContent h-headingSection h-SectionText">	
								<a href="index.php" class=" text-center d-block">
									<img src="images/logo-banner.png" alt="">
								</a>
								<h1>DEDICATED</h1>
								<h4>TALENT SEARCH SERVICES FOR MSME</h4>
								<div class="btnSet mt-4">
									<a href="about" class="h_btn h_btn_green">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="col-md-7">
							<div class="h-bannerImg imgSize">
								<img src="images/banner-bg.jpg" alt="" >
								<img src="images/character_banner-01.svg" alt="" data-aos="fade-down" data-aos-duration="3000">
						        <img src="images/magnify-01.svg" alt="magnify-01" data-aos="fadeIn" data-aos-duration="1500">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/.herobanner -->
			<section id="h_gridSectionOne">
				<div class="row no-gutters">
					
						<div class="col-md-6 order-md-2 bg_green">
							<div class="gridDefaultCDontent h-headingSection h-SectionText">
								<h2>TALENTED WORKFORCE CAN MAKE A BIG IMPACT ON THE SUCCESS OF MSME BUSINESS</h2>
								<div class="divider"></div>
								<p>We will help you attract talent to your business</p>
							</div>
						</div>
						<div class="col-md-6 order-md-s1  bgworkforce bg-img">
							<!-- <img src="images/hands_1st section-01.svg" alt=""> -->
							<img src="images/character_1st section-01.svg" alt="" data-aos="fadeIn" data-aos-duration="3000">
						</div>
						
						
					</div>
			</section>
			<!--/.h_gridSectionOne -->
			<section id="h_gridSectionTwo">
				<div class="row no-gutters flex-row-reverse">
						<div class="col-md-6 order-md-1 bg_business">
							<!-- <img src="images/star_2nd section-01-01.svg" alt=""> -->
							 <img src="images/a.svg" alt="business">
							 <img src="images/business_2nd section-01-01.svg" alt="" data-aos="fadeIn" data-aos-duration="3000">
							  

						</div>
						<div class="col-md-6 order-md-2 bg_green">
							<div class="gridDefaultCDontent h-headingSection h-SectionText">
								<h2>SMALL BUSINESS NEED <br/> NOT BE TREATED SMALL</h2>
								<div class="divider"></div>
								<p>Get full attention from us. Small is BIG for us!</p>
							</div>
						</div>
						
						
					</div>
			</section>
			<!--/.h_gridSectionTwo -->
			<section id="h_gridSectionThree">
				<div class="row no-gutters">
						<div class="col-md-6">
							<!-- <img src="images/star_2nd section-01-01.svg" alt=""> -->
							<img src="images/3rd section-01.svg" alt="" data-aos="fadeIn" data-aos-duration="3000">
						</div>
						<div class="col-md-6  bg_green">
							<div class="gridDefaultCDontent h-headingSection h-SectionText">
								<h2>OUR HIRING METHODS <br/>
								AND PROCESS IS SPECIALLY
								DESIGNED FOR MSME</h2>
								<div class="divider"></div>
								<p>This ensures we are able to create a strong talent pool </p>
							</div>
						</div>
					</div>
			</section>
			<!--/.h_gridSectionThree -->
			<section id="h_ContactFormSection">
				<div class="equalPadding  pb-md-0">
					<div class="container">
					<div class="row flex-row-reverse ">
						<div class="col-md-5 contact-img">
							<img src="images/form-01.svg" alt="">
						</div>
						<div class="col-md-7">
							<div class="pb-5 h-headingSection h-SectionText">
								<h2 data-aos="fade-down" data-aos-duration="3000">SHARE YOUR REQUIREMENT</h2>
								<div class="ContactForm">
									<form class="contact_form">
										<div class="form-group">
											<input type="text" name="Name of your company" class="form-control" placeholder="Name of your company">
										</div>
										<div class="form-group">
											<input type="text" name="Contact Person" class="form-control" placeholder="Contact Person">
										</div>
										<div class="form-group">
											<input type="text" name="Contact Number" class="form-control" placeholder="Contact Number">
										</div>
										<div class="form-group">
											<input type="email" name="Email" class="form-control" placeholder="Email">
										</div>
										<div class="form-group">
											<textarea name="message" placeholder="Positions you are looking for" class="form-control" rows="8"></textarea>
										</div>
										<div class="form-group">
											<input type="button" name="SUBMIT" value="SUBMIT" class="h_btn h_btn_green">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				
			</section>
			<!--/.h_ContactFormSection -->
			<section id="h_testimonial" class="bg-img">
				<div class="row no-gutters">
					<div class="col-md-9 m-auto">
						<div class="equalPadding">
							<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
							  
				 			  <div class="carousel-inner">
								    <div class="carousel-item active">
								     <div class="Testimonal-content h-headingSection h-SectionText text-center">
								     	<p>Our Association with HireRise has yielded strong results as the core strength of this continued relationship, has been their ability to gain, contextual insights, both at the business & cultural level at our company and provide the best talent fit across varied and diverse requirements.</p>
								     	
								     	<!-- <h4>JOHN DOE</h4>
								     	<h6>HR, XYZ COMPANY</h6> -->
								     </div>
								    </div>
								    <div class="carousel-item">
								     <div class="Testimonal-content h-headingSection h-SectionText text-center">
								     	<p>HireRise has shown the ability to understand our business context, the role requirements, and the specifics of the job. Their hands-on approach and internal rigorous process ensures accurate screening and shortlisting of candidates. They have delivered search results that are quick and precise to the organization's needs. This unique approach makes them a valued partner for us.</p>
								     	
								     	<!-- <h4>JOHN DOE</h4>
								     	<h6>HR, XYZ COMPANY</h6> -->
								     </div>
								    </div>
								    <div class="carousel-item">
								      <div class="Testimonal-content h-headingSection h-SectionText text-center">
								     	<p>HireRise has been a significant recruitment partner for us in helping us welcome the best talents on board. They give remarkable direction all through each phase of the enrollment cycle and are consistently quick to offer guidance while demonstrating real interest in our progress</p>
								     	
								     	<!-- <h4>JOHN DOE</h4>
								     	<h6>HR, XYZ COMPANY</h6> -->
								     </div>
								    </div>
							  </div>
							  <ol class="carousel-indicators">
							    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
							    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
							  </ol>
							  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
							    <span class="sr-only">Previous</span>
							  </a>
							  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							    <span class="carousel-control-next-icon" aria-hidden="true"></span>
							    <span class="sr-only">Next</span>
							  </a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /.testimonial -->
		</div>
		<!--/.bodyWrapper -->
		<footer id="h_FooterWrapper" class="bg_black">
			<div class="container">
				<div class="equalPadding">
					<div class="row">
					<div class="col-md-2">
					<div class="h-logoSize">
						<a href="index" title=""> <img src="images/logo-02.svg" alt="footer"></a>
					</div>
					</div>
					<div class="col-md-3 mr-auto">
					<div class="footer_content ">
						<p>Small businesses have always found it challenging
						to attract good talent. A talented workforce can
						determine the organization’s whole performance
						in the long term.
						</p>
						<p>We work directly with businesses owners and help
						them recruit strong talent. The success of Indian
						economy majorly depends on the success of SMEs.</p>
						<p>
						HireRise is based at Navi Mumbai and catering to
						MSMEs throughout the country. We have been in
						practice for about a decade.</p>
					</div>
					</div>
					<div class="col-md-3">
						<div class="footer_content ">
							<h4>QUICKLINKS</h4>
							<ul class="footer_link">
							<li><a href="index">HOME</a></li>
							<li><a href="about">ABOUT US</a></li>
							<li><a href="index#h_ContactFormSection">REQUIREMENT FORM</a></li>
							<li><a href="index#h_testimonial">TESTIMONIALS</a></li>
							<li><a href="contact">CONTACTS</a></li>
						</ul>
						</div>
					</div>
					<div class="col-md-3">
						<div class="footer_content  ">
							<h4>CONTACT</h4>
							<ul class="contact_link">
								<li>
									<p>
										<span class="fab fas fa-map-marker-alt text-white"></span> HireRise Talent Search Services <br/>
										603, The corporate park, Plot 14 & 15,
										Sector 18, Vashi, Navi Mumbai,
										Maharashtra - 400703</p>
								</li>
								<li>
									
									<a href="tel:919152236787" title="919152236787"><p><span class="fas fa-phone-volume text-white"></span> 91 9152236787</p></a>
								</li>
								<li>
									<p><span class="fas fa-envelope text-white"></span> <a href="mailto:hrdesk@hirerise.in">hrdesk@hirerise.in</a></p>
								</li>
							</ul>
						</div>
					</div>

				</div>
				</div>
				<div class="devStrip py-2  footer_content">
				<p class="float-md-left ">COPYRIGHT 2010-2020 HIRERISE Talent Search Services   </p>
				<p class="text-md-right ">DESIGNED & DEVELOPED BY <a href="https://webyappy.com/" target="_blank" title="webyappy"><img src="images/webyappy-icon.png" alt=""></a> </p>
				</div>
			</div>
			<div class="scroll-top">
				<span class="fas fa-angle-double-up text-white"></span>
			</div>
		</footer>
	</div>
	<!-- /.mainWrapper -->
	<!-- script -->
	<script src="js/plugin.js"></script>
	<script src="js/main.js"></script>
	<!--/.script -->
</body>
</html>