<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<meta name="description" content="">
	<meta name="keywords" content="">
	<title>hire-rise</title>
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="57x57" href="images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
	<link rel="manifest" href="images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="css/plugin.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div class="h_mainWrapper ">
		
		<div class="h_bodyWrapper">
			<div id="openingSection">
				<div class="middle">
					<div class="container">
					<div class="row">
						<div class="col-md-3 align-self-center ">
							<div class="img">	
								<a href="index" class=" text-center d-block">
									<img src="images/logo-banner.png" alt="logo">
								</a>
								
							</div>
						</div>
						<div class="col-md-9 hr-line">
							<div class="text-center  h-headingSection h-SectionText openingbanner">
								<h1>WORK PLACE <br/> THAT <br/> SUITS YOU BEST  <br/> 
								<div class="dashed"></div>
								 CANDIDATES THAT SUIT <br/>  THE ROLE BEST</h1>
								
								<p class="text-white">#culturalfit</p>
								<div class="btnSet mt-4">
									<a href="company" class="h_btn h_btn_red">Employer Section </a>
									<a href="candidate" class="h_btn h_btn_red">Candidate Section</a>
									
								</div>

							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			<!--/.herobanner -->
			
		</div>
		
</body>
</html>